
* {

}

/* Image Styling */


#bomb {
	position: fixed;
	bottom: 0;
	right: 0;
	transition: all .5s ease-in-out;
	margin-bottom: 1.5625em;
	margin-right: 1.5625em;
}
#bomb:hover {
	transform: scale(2) rotate(-15deg) translatex(-2.5em) translatey(-60px) rotate(-360deg);
}

/* Generic Styling */

header {
	margin-top: 3.125em;
	margin-left: 8%;
	margin-right: 8%;
	padding: .625em 3.125em 0em 3.125em;
}
address{
	transform: translatey(-1.75em);
	margin-left: auto;
	margin-right: auto;
}
main{


}
body {

	background-image: linear-gradient(yellow, purple, black);

}
h1 {
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 7.5em;	
	font-family: bangers, cursive;
	text-shadow: 0 1px 0 #ccc,
				 0 2px 0 #c9c9c9,
				 0 3px 0 #bbb,
				 0 4px 0 #b9b9b9,
				 0 5px 0 #aaa,
				 0 6px 1px rgba(0,0,0,.1),
				 0 0 5px rgba(0,0,0,.1),
				 0 1px 3px rgba(0,0,0,.3),
				 0 3px 5px rgba(0,0,0,.2),
				 0 5px 10px rgba(0,0,0,.25),
				 0 10px 10px rgba(0,0,0,.2),
				 0 20px 20px rgba(0,0,0,.15);
}
p {
	color: white;
}

footer{
	background-image: url("assets/fiNoWater2.png");
	background-repeat: repeat-x;
	background-size: cover;
	height: 43.75em;
}

ul {
	list-style-type: none;

}

/* ID Styling */

#title {
	height: 40.75em;
	background-image: url("assets/fiNoWater2.png");
	background-position: center 100%;
	background-repeat: repeat-x;
	background-size: cover;
	padding-top: 3.125em;
}

#twitterHeader {

}
#contactBox {
	margin-left: 35%;
	margin-right: 35%;
	text-align: center;
}
#discordHeader {

}
#footerSpan {
	color: white;
}
#footerDiv{
	position: relative;
	top: 40.625em;

}
#twitch-embed {
	margin-right: 0;
	padding-right: 0;
}

/* Class Styling */

.contactLink {
	width: 40%;
	display: inline-block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	transition: all .1s ease-in-out;
}*/
.contactLink:hover {
	transform: scale(1.1);
}
.flex-centerBar {
	flex-grow: 1;
	justify-content: flex-center;
	width: 14em;

}
.mainFlexbox {
	display: flex;
	flex-direction: row-reverse;
}
.flex-leftSidebar {

}





/* Float Clearfix 
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
*/


/* Media Queries */


































