
* {

}

/* Image Styling */
#bomb {
	position: fixed;
	bottom: 0;
	right: 0;
	transition: all .5s ease-in-out;
	margin-bottom: 1.5625em;
	margin-right: 1.5625em;
	z-index: 10;
}
#bomb:hover {
	transform: scale(2) rotate(-15deg) translatex(-2.5em) translatey(-60px) rotate(-360deg);
}

/* Generic Styling */
body {
	background-image: linear-gradient(yellow, purple, black);
}
h1 {
	font-size: 8em;
	color: black;
	font-weight: bold;	
	font-family: bangers, cursive;
	padding: 0%;
	margin: 0%;
}
p {
	color: white;
	font-size: 2em;
	font-family: cairo;
	line-height: 1.5;
}

footer{
	background-image: url("assets/fiNoWater2.png");	
	min-height: 20em;
}

ul {
	list-style-type: none;

}

/* ID Styling */

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 25em;
	background-image: url("assets/fiNoWater2Flip.png");
	background-position-y: bottom;
}
#twitch-embed {
	margin-right: 0;
	padding-right: 0;
}
#discordHeader {
	max-height: 3em;
}
#twitterHeader {
	max-height: 3em;
}
#twitchLiveStream {
	box-shadow: -12px -12px 30px black;
	margin: 2em 2em 2em 2em;
}
#youtubeVid1 {
	box-shadow: 12px -12px 30px black;
	margin: 2em 2em 2em 2em;
}
#twitchVid2 {
	box-shadow: -12px -12px 30px black;
	margin: 2em 2em 2em 2em;
}
#youtubeVid2 {
	box-shadow: 12px -12px 30px black;
	margin: 2em 2em 2em 2em;
}
#contactBox {
	align-content: center;
}

/* Class Styling */


.flex-centerColumn {
	flex-grow: 2;
	order: 2;
	align-self: flex-start;
	margin-left: 2em;
	margin-right: 2em;

}
.mainFlexbox {
	display: flex;
	align-content: space-between;
	flex-direction: row;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	min-height: 20em;

}
.flex-leftColumn {
	flex-grow: 1;
	order: 1;
	padding-left: 10%;
}
.flex-rightColumn {
	flex-grow: 1;
	order: 3;
	padding-right: 10%;
}
.contactLink {
	align-self: flex-end;
}


/* Float Clearfix 
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
*/


/* Media Queries */

































