
* {

}

/* Image Styling */
#bomb {
	position: fixed;
	bottom: 0;
	right: 0;
	transition: all .5s ease-in-out;
	margin-bottom: 1.5625em;
	margin-right: 1.5625em;
	z-index: 10;
}
#bomb:hover {
	transform: scale(2) rotate(-15deg) translatex(-2.5em) translatey(-60px) rotate(-360deg);
}

/* Generic Styling */
body {

	background-image: linear-gradient(yellow, purple, black);

}
h1 {
	font-size: 8em;
	color: black;
	font-weight: bold;	
	font-family: bangers, cursive;
	padding: 0%;
	margin: 0%;
}
p {
	color: white;
}

footer{
	display: flex;
	background-image: url("assets/fiNoWater2.png");
	height: 20em;
	
}

ul {
	list-style-type: none;

}

/* ID Styling */

#title {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 20em;
	background-image: url("assets/fiNoWater2Flip.png");
	background-position-y: bottom;

}
#footerSpan {
	position: absolute;
	display: inline-block;
	bottom: 1px;
	left: 1px;
	color: white;
}
#footerDiv{
	position: absolute;
	display: inline-block;
	bottom: -10%;
	width: 100%;

}
#twitch-embed {
	margin-right: 0;
	padding-right: 0;
}
#discordHeader {
	height: 3em;
}
#twitterHeader {
	height: 3em;
}
#contactBox {
	align-self: center;
}

/* Class Styling */


.flex-centerColumn {
	flex-grow: 2;
	justify-content: flex-center;

}
.mainFlexbox {
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
	width: 80%;
}
.flex-leftColumn {
	flex-grow: 1;
}
.flex-rightColumn {
	flex-grow: 1;
}
.contactLink {
	padding: 0;
	margin: 0;
}


/* Float Clearfix 
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
*/


/* Media Queries */

































